<main>
  <div><inputform></inputform></div>
  <div class = "ticket-container">
      <div class="ticket" *ngFor ="let ticket of tickets;let idx = index">
          <div class ="datedetail">
            <span class="date">16</span>
            <span class="year">January 2016</span>
            <span class="day">Saturday</span>
          </div>
        <div class="urldetail">
          <span class="header">Vanity URL</span>
          <span class="txt">{{ticket.ID}}</span>
        </div>
          <div class="urldetail">
            <span class="header">Target URL</span>
            <span class="txt">{{ticket.TargetUrl}}</span>
          </div>
          <div class="ticketstatusdetail">
            <span class="header">Created By</span>
            <span class="txt">{{ticket.Executor}}</span>
          </div>
          <div><command (click)="OnProcessTicket($event.target)"></command></div>
      </div>
   </div>
</main>
